# Python artefacts
__pycache__
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual envs
.env
.venv
venv

# Node / frontend caches
node_modules

# Editor / IDE
.vscode
.idea

# Tests / coverage
.coverage
htmlcov
pytest_cache

# Local files
*.log
uploads
*.sqlite3

# Git
.git
.gitignore

# Other
.DS_Store
