# Entorno virtual
.venv/
venv/

# Archivos de secretos
.env

# Archivos subidos por los usuarios
uploaded_files/

# Archivos de base de datos de Reflex
*.db

# Archivos compilados de Python
__pycache__/
*.pyc

.states
.web

