assets/external/
*.py[cod]
# Entorno virtual
.venv/
venv/

# Archivos de secretos
.env

# Archivos subidos por los usuarios
uploaded_files/

# Archivos de base de datos de Reflex
*.db

# Archivos compilados de Python
__pycache__/
*.pyc

.states
.web

rxconfig1.py

system_prompt_V1.txt

/asistente_legal_constitucional_con_ia/components/file_uploader1.py

/asistente_legal_constitucional_con_ia/states/chat_state1.py





